services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs-backend
    ports:
      - "3500:3500"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NODE_ENV=development
    volumes:
      - ./src:/usr/src/app/src   # Bind mount your local code to the container
      - /usr/src/app/node_modules # Ignore node_modules to avoid conflicts
      - ./public/images:/app/public/images
    depends_on:
      - redis
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
